.footer {
    padding: 20px 0;
    transition: transform 0.3s; /* Add a smooth transition effect */
     
}

.footer-container {
    background: linear-gradient(to right, #0276a0, #47d0f9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: auto;
    margin: 0 auto;
}

.footer.show {
    transform: translateY(0);
    
}

.footer.hide {
    transform: translateY(100%);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    margin-right: 40px;
    
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-info {
    text-align: center;
}

.footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-info p:last-child {
    font-size: 12px;
}