.footer-container {
    position: relative; /* Sets a reference for the absolute positioned child */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; 
    
}

.footer-container img {
    display: block; /* Removes any default margins */
    max-width: 100%;
    height: auto;   
}

.footer-links {
    position: absolute; /* Position the links on top of the image */
    top: 38%; /* Center the links vertically */
    left: 50%; /* Center the links horizontally */
    transform: translate(-50%, -50%); /* Ensures exact centering */
    display: flex;
    gap: 180px;
}

.footer-links a {
    text-decoration: none;
    font-size: 36px;
    color: #fff; /* White color for better visibility on the image, adjust as needed */
    background-color: rgba(197, 8, 8, 0); /* Optional: Add a semi-transparent background for better readability */
    padding: 5px 10px; /* Some padding for the links */
    border-radius: 5px; /* Optional: Rounded corners for the links */
}

.footer-links a:hover {
    text-decoration: underline;
}
