/* header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* or any desired height */
  background-color: #ffffff; /* or any desired background color */
  padding: 0 20px;
}
.logo-container {
  display: flex;
  justify-content: center; /* this will center the logo */
  align-items: center;
  flex-grow: 1; /* allows the logo container to take available space and thus centering the logo */
}

.logo {
  max-width: 100%; /* this ensures the logo never exceeds the header's width */
  max-height: 150px; /* adjust according to your logo's size and desired look within the header */
}

.signon-button {
  padding: 10px 20px;
  background-color: #084d96;
  color: #ffffff;
  text-decoration: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.signon-button:hover {
  background-color: #c7580e;
}
