#logo{ 
	top:0;    
    margin-left: 60px; 
} 
.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 0;
    border-right: 2px black;
}

.contact-link {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding: 0;

}

.contact-link:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 
.about-link {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding:  0;
   
}

.about-link:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 

.home-link {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding:  0;
   
}

.home-link:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 

.completed-link {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding:  0;
   
}

.completed-link:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 

.leaderboard-link {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding:  0;
   
}

.leaderboard-link:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 

.link-list {
    text-decoration: none;
    color: #020C1Cff;
    font-size: large;
    transition:  transform .3s;
    padding:  0;
   
}

.link-list:hover {
    color: #024A94ff;
    transform: translateY(-10px)
} 