.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    flex: 1;
    background-color: #c2ddf4;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 15px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    flex: 3;
    padding: 20px;
  }
  
  .progress-bar {
    height: 10px;
    background-color: orange;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .progress-bar__fill {
    background-color: #39B7FFff;
    height: 10px;
  }
  
  .boxes {
    display: flex;
    justify-content: space-between;
  }
  
  /* .box {
    border: 1px solid #333;
    padding: 15px;
    box-shadow: 5px 5px 5px #c2ddf4;
    margin: 0px 10px;
    width: 350px;
    height: 250px;  
    overflow: hidden;  
  } */

  .quiz-container {
    border: 1px solid #333;
    padding: 15px;
    box-shadow: 5px 5px 5px #c2ddf4;
    margin: 10px;
    background-color: white;
  }
  
  .quiz-container__answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
  }

  .quiz-container__answers button {
    background-color: #39B7FFff;
    color: white;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 10px;
    border: none;
  }

  .quiz-container__answers button:hover {
    background-color: orange
  }

  .medium {
    flex: 1;
    margin-right: 20px;
    overflow: auto;
  }

  .document {
    margin-top: 20px;
    overflow: auto;
  }
  
  p {
    font-size: 11px;
    padding: 0;
    margin: 0;  /* To ensure there's no default margin expanding the box */
    overflow: hidden;  /* Hides the overflowing text */
    max-height: calc(100% - 10px); /* Ensures paragraph stays within the box bounds considering padding */
}

/* Default styles for all screen sizes */


.content-panel .story-container {
  border: 5px solid black;
  padding: 40px; /* Increase padding to make it larger */
  width: 80%; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  position: relative;
}

.content-panel .story-container::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -5px;
  right: -5px;
  bottom: -20px;
  height: 40px;
  background-color: #4d98e8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.story-video-quiz-simulate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  margin-left: 200px;
  margin-right: 200px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%; /* This divides the space equally between the icons */
  /* margin: 0 10px; Add horizontal space between icons */
}

    .document {
        margin-top: 20px;
        margin-bottom: 0;
        overflow: auto;
    }
  
  

