/* Quiz.css */

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px; /* some spacing around the quiz for better visual appeal */
}

.quiz-button {
    width: 250px; /* adjust as per your need */
    height: 50px;
    border-radius: 25px; /* gives a rounded effect */
    background: linear-gradient(to right, #47d0f9, #0276a0);
    border: none;
    color: white; /* Text color */
    margin: 5px 0; /* spacing between buttons */
    cursor: pointer; /* hand cursor on hover */
    transition: background 0.3s ease; /* smooth transition effect for hover */
}

.quiz-button:hover {
    background: linear-gradient(to right, #0276a0, #47d0f9); /* swap colors on hover */
}

/* Specific colorings for correct and incorrect answers - defined after .quiz-button to ensure precedence */
.green {
    background-color: green;
}

.red {
    background-color: red;
}

.defaultColor {
    background-color: transparent;
}

.video-section {
    margin-top: 20px; /* spacing between the quiz and the video */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    margin-top: 50px; /* adjust this value based on the desired distance */
}

.feedback {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.qa-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #0276a0; /* giving it a border */
    border-radius: 15px; /* rounded corners */
    background-color: #f2f2f2; /* light grey background color for contrast */
    width: 70%; /* adjust based on how wide you want the box to be */
    margin-top: 40px;
    margin-bottom: 20px; /* spacing between the box and the navigation buttons */
}

.question-prompt {
    font-size: 15px;
    margin: 0; /* reset margin to remove any unwanted space */
    text-align: center; /* This centers the text within the paragraph */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%; /* match width with the qa-box for alignment */
}

.result-box {
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    text-align: center;
}