*{
    box-sizing: border-box;
    
}

.username {
    color: white;
    margin-left: 0; /* Removed the margin to ensure it doesn't push the element out */
    padding-left: 10px; /* You can use padding instead if you still want some space on the left */
}

.user-icon {
    width: 10vw;      /* Adjust according to your preference */
    height: auto;     /* Keep aspect ratio */
    border-radius: 50%; 
}

.user-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.badge-container {
    margin-bottom: 2rem;  /* Adjust according to your preference */
    padding: 0.5rem;     /* Adjust according to your preference */
    font-size: 1.5rem;   /* Adjust according to your preference */
    background-color: orange;
    text-align: center;
    width: 100%;
}

.badge-icon {
    margin-top: 2rem;   /* Adjust according to your preference */
    width: 5vw;        /* Adjust according to your preference */
    height: auto;      /* Keep aspect ratio */
}

.icon-container {
    display: flex;
    margin-bottom: 1rem; /* Adjust according to your preference */
    justify-content: center;
}

.user-header {
    padding: 1rem;       /* Adjust according to your preference */
    border-bottom: 0.2rem solid orange;  /* Adjust according to your preference */
    background-color: orange;
    display: flex;
    justify-content: center;

}

h5 {
    color: white;
    font-size: 1.5rem;  /* Adjust according to your preference */
    text-align: center; /* Center the text of h5 */
}

.rightBar {
    width: 100%;
    margin-top: 94px;
}
