.username {
    margin-left: 20px;
    color: white;
    margin-top: 5px;
}


.user-icon {
    width: 70px;      
    height: 50px;     
    border-radius: 50%; 
    position: absolute;
        top: 27px;
        right: 20px;
}

.user-icon:hover {
 
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.badge-container {
    margin-bottom: 20px;
    padding: 5px;
    font-size: x-large;
    background-color: orange;
    box-shadow: 1px 2px 10px #023E7Cff;
}

.badge-icon {
    margin-top: 20px;
    width: 40px; 
    margin-left: 20px;
}

.icon-container {
    display: flex;
    margin-bottom: 10px;
    margin-left: 25px;
}

.user-header {
    padding: 10px;
    border-bottom: 2px solid orange;
    background-color: orange;
    box-shadow: 1px 2px 10px #023E7Cff;
}

.rightBar {
    display: grid;
}

h5 {
    color: white;
    font-size: x-large;
    justify-content: center;
    margin-left: 55px;
}