.homeNav {
  width: 260px;
  background-color: #39B7FFff;
  border: 5px solid #fff;
  color: white;
  height: 100vh;

  img {
    height: 130px;  
  }

  &__link, button {
    display: block;
    text-align: center;
    background-color: orange;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgb(221, 166, 64);
      color: white;
      text-decoration: none;
    }
  }

  button {
    border: none;
    width: 230px;
  }
}