.left-panel-content, .right-panel-content {
    text-align: center;
    padding: 2rem;  /* 20px -> 2rem assuming 1rem = 10px for easier conversion */
}

.profile-pic {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.right-panel-content ul {
    list-style: none;
    padding: 0;
}

.right-panel-content li {
    margin-bottom: 1rem;
}

.right-panel-content a {
    text-decoration: none;
    color: #F9D923;
    font-weight: bold;
    transition: color 0.3s;
}

.right-panel-content a:hover {
    color: #fff;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-section,
.badge-component,
.streak-component {
    margin-bottom: 1rem;
}

.profile-name {
    color: #fff;
}

.subheading {
    font-weight: bold;
    color: black;
}

.streak-day {
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.streak-day.checked {
    background-color: #F9D923;
}

/* Optional: Media Queries for Smaller Screens, e.g., mobile devices */
@media only screen and (max-width: 768px) {
    .profile-pic {
        width: 50vw;
        height: 50vw;
    }

    .left-panel-content, .right-panel-content {
        padding: 1rem;
    }
}
