.trackerBox {
    border: 7px solid orange;
    padding: 4px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: orange;
    height: 150px;
    box-shadow: 1px 2px 10px #023E7Cff;
    
  }
  
  .h2-title {
    white-space: nowrap; 
    margin-bottom: 20px; 
    color: white;
    border-bottom: 2px solid white;
  }
  
  .login-tracker-container {
    display: flex;
    gap: 5px; 
    flex-wrap: nowrap; 
    justify-content: center; 

  }
  
  .custom-checkbox {
    width: 30px; 
    height: 30px;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 2px;
    
  }
  
  .custom-checkbox.checked {
    background-color: #39B7FFff; 
    color: #fff; 
  }
  
  .current-day .custom-checkbox {
    background-color: #39B7FFff; 
    color: #fff; 
  }
  
  .highlight .custom-checkbox {
    background-color: #39B7FFff; 
    color: #fff; 
  }
  