.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  
  /* Left Sidebar */
  .left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px; /* adjust as needed */
    border: 2px black;
  }
  
  /* Header inside Right Sidebar */
.header {
    width: 100%; /* take full width of the right sidebar */
    background-color: #ffffff; /* for visualization */
    z-index: 1;
    height: 20%;
    /* other styles, possibly some padding */
  }

  .header img {
    cursor: pointer;
    /* ... any other styles ... */
}
.icon-container {
    display: flex;            /* Enable flexbox */
    align-items: center;      /* Vertically center items */
    justify-content: space-between; /* Space items out */
}

.user-icon {
    width: 50px;      /* You can set the width as per your design preference */
    height: 50px;     /* Adjust the height as well */
    object-fit: cover; /* To maintain aspect ratio and not stretch the image */
    border-radius: 50%; /* Optional, if you want the image to appear circular */
    margin-left: auto;
}
.dash-buttons {
    display: flex;
    flex-direction: column;
}
.icon-text {
    margin: 0 15px;   /* 15px horizontal margin on both sides, adjust as needed */
}
  
  /* Main Body */
  .body-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 60px; /* Replace with actual height of the header, e.g., 60px */
    margin-left: 40px;
    background-color: rgb(255, 255, 255); /* for visualization */
    /* other styles */
  }
  
  /* Right Sidebar */
.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; /* adjust as needed */
    height: 100vh;
    background-color: #ffffff; /* for visualization */
    display: flex;
    flex-direction: column; /* stack children vertically */
    border-left: 2px #0276a0;
    /* other styles */
  }
  h4 {
    font-size: 15px;
    background-color: aliceblue;
  }
